:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  background-color: #512DA8;
}

header nav.right-banner {
  display: flex;
  flex-direction: row;
  justify-content: right;
  color: white;
  text-decoration-line: underline;
}

header nav.left-banner {
  color: white;
}

header nav p a {
  padding-right: 1rem;
  color: white;
  text-decoration-line: underline;
}



.main-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image h1 {
  font-size: 2rem;
  margin: 10rem 0;
  color: white;
}

section.img-attribute {
  text-align: center;
  font-size: .8rem
}

.spaceX-section-yellow {
  background-color: #FFC107;
  margin: auto;
  padding-bottom: .3rem
}

.spaceX-section-yellow h2 {
  padding-top: .8rem;
  padding-left: .5rem;
  font-weight: 500;
}

.left.arrow {
  border-radius: 0 1rem 1rem 0rem
}

.right.arrow {
  border-radius: 1rem 0rem 0rem 1rem
}

.arrow {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0rem 8rem 0rem;
  background-color: var(--main-accent-color);
  font-size: 2rem;
}

.launch-card-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.launch-card-secondary {
  margin: 1rem 3rem;
  padding: 0 1rem 0.5rem 1rem;
  background-color: #ededed;
  border-radius: 0.5rem;
  width: 100%;
}

.card-parent {
  text-align: center;
}